################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project-Code-Python/CombinedImages
/Project-Code-Python/CombinedImages
